
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestsAll">
    <test name="testrun">
        <classes>
            <class name="com.qa.tests.HomePageTest"/>
            <class name="com.qa.tests.BookStoreApplicationTest"/>
            <class name="com.qa.tests.BookStoreTest"/>

        </classes>
    </test>
</suite>